*~
*.o
*.a
Makefile.in
/configure
/configure.scan
/config.h.in
/autoscan.log
/autom4te.cache/
/aclocal.m4
/missing
/install-sh
/stamp-h1
/config.guess
/config.sub
/.deps
/depcomp
/build-aux/
/ar-lib
/build-aux/compile
/gl/
